@page
@model RazorHotelDB.Pages.Hotels.CreateModel
@{
    ViewData["Title"] = "CreateHotel";
}
<style>
    .button {
        background-color: #00aa00;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<h1>Create</h1>
@if(!Model.IsCreated)
{
    <form method="post">

        <p>ID</p><input type="number" name="HotelNr" />
        <p>Name</p><input type="text" name="Navn" />
        <p>Address</p><input type="text" name="Adresse" />
        <br />
        <br />
        <button class="button" type="submit">Create</button>

    </form>
}
else
{
    <p>You have created the following hotel</p>
    <p>@Model.NewHotel</p>
}